{% extends 'base.html' %}
{% block profile-link %}
    <li class="right"><a href="{% url 'index profile' %}">Profile</a></li>
{% endblock %}

{% block content %}

    <h1>Edit Expense</h1>
    <div class="form">
        <form method="POST">
            {% csrf_token %}
            <label for="name">Title</label>
            {{ form.title }}

            <label for="description">Description</label>
            {{ form.description }}

            <label for="image_url">Link to Image</label>
            {{ form.image_url }}

            <small>{{ form.price.errors }}</small>
            <label for="price">Price</label>
            {{ form.price }}

            <input type="submit" value="Edit">
        </form>
    </div>

{% endblock %}
