{% extends 'base.html' %}

{% block profile-link %}
    <li class="right"><a href="{% url 'index profile' %}">Profile</a></li>
{% endblock %}

{% block content %}

    <h1>Your Profile</h1>
    <div class="expenses-container">
        <div class="expense-container">
            <h2>{{ form.first_name }} {{ form.last_name }}</h2>
            <hr>
            <img src="../static/images/user.png" alt="profile image">
            <p>In your profile you can edit your profile data</p>
            <div class="expense-detail">
                <div>
                    <p>Budget Left: {{ form.money_left }}$</p>
                </div>
                <div class="right">
                    <a class="button edit" href="{% url 'edit profile' %}">Edit Profile</a>
                    <a class="button delete" href="{% url 'delete profile' %}">Delete Profile</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
